.env
*.pyc
*.pem
*.pub
*.tar.gz
*.zip
*.sql
secrets.txt
./tmp
./build/*
.idea/*
.idea
.jpg
.jpeg
.pdf
exoplex/Solutions/*
exoplex/build.log
exoplex/vertex.log
exoplex/werami.log
.vscode
.python-version
