<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
   <div class="home">
     <h1>About me</h1>
     <p>Greetings. I am a Data Scientist and software developer from Arizona, USA.
         I created this page to tell my story and hold all the bullshit I want to share with the world</p>
       <p> I have a cat. his name is kitty. Sometimes he goes 'Meow'. I consider it my duty to interpret his sayings</p>
       <p> Someday I will open a tab where I will display only the best kitty pics </p>
       <h1>Stephanie Gonzalez is great. Love you :)</h1>
   </div>
  {% endblock %}
  </body>
</html>