<!DOCTYPE html>
<html>

<body>

  {% extends "layout.html" %}
  {% block content %}
   <div class="home">
     <h1>About me</h1>
     <p>Greetings. I am a Data Scientist and software developer from Arizona, USA.
         I created this page partially as practice and partially to show all the other projects I have been working on.
        Besides my day job, I am a fairly active hobbyist and freelance engineer. </p>
       <p> I have a cat. his name is kitty. You will see pics of him in several places on this site.</p>
       <p> Someday I will open a tab where I will display only the best kitty pics </p>
       <h1>Hello</h1>
   </div>

   <div>
    <img src = "../static/images/kitty1.jpeg" height = 192 width="256" alt="Mr.Kitty" />

   </div>
  {% endblock %}
  </body>
</html>