<!DOCTYPE html>
<html>
  <head>
    <title>handro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h2 class="logo">Alejandro</h2>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('resume') }}">Resume</a></li>
            <li><a href="{{ url_for('exoplex') }}">Exoplex</a></li>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
            <li><a href="{{ url_for('login') }}">login</a></li>
          </ul>
        </nav></strong>
      </div>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </header>
  </body>
</html>