<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Times,serif;font-size:24.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:24.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:14.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:14.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:5.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:5.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="eef6e1b0-78ce-11e9-9d71-0cc47a792c0a_id_eef6e1b0-78ce-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="eef6e1b0-78ce-11e9-9d71-0cc47a792c0a_id_eef6e1b0-78ce-11e9-9d71-0cc47a792c0a_files/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:196.49px;top:58.97px" class="cls_002"><span class="cls_002">Alejandro Lorenzo</span></div>
<div style="position:absolute;left:222.16px;top:88.12px" class="cls_003"><span class="cls_003">3325 S Judd St. Tempe, AZ 85282</span></div>
<div style="position:absolute;left:148.51px;top:98.14px" class="cls_004"><span class="cls_004"></span><span class="cls_003"> AlexLorenzo39@gmail.com</span></div>
<div style="position:absolute;left:303.76px;top:98.14px" class="cls_004"><span class="cls_004"></span><span class="cls_003"> <A HREF="https://github.com/amloren1">amloren1</A> </span></div>
<div style="position:absolute;left:381.07px;top:98.14px" class="cls_004"><span class="cls_004"></span><span class="cls_003"> 602-705-6102</span></div>
<div style="position:absolute;left:59.53px;top:122.53px" class="cls_005"><span class="cls_005">EDUCATION</span></div>
<div style="position:absolute;left:59.53px;top:146.65px" class="cls_003"><span class="cls_003">Arizona State University</span></div>
<div style="position:absolute;left:486.53px;top:146.65px" class="cls_003"><span class="cls_003">Tempe, AZ</span></div>
<div style="position:absolute;left:59.53px;top:158.60px" class="cls_006"><span class="cls_006">MS in Astrophysics, Advisor: Steven Desch</span></div>
<div style="position:absolute;left:482.26px;top:158.60px" class="cls_006"><span class="cls_006">August 2018</span></div>
<div style="position:absolute;left:59.53px;top:173.05px" class="cls_003"><span class="cls_003">Arizona State University</span></div>
<div style="position:absolute;left:486.53px;top:173.05px" class="cls_003"><span class="cls_003">Tempe, AZ</span></div>
<div style="position:absolute;left:59.53px;top:185.00px" class="cls_006"><span class="cls_006">BS in Astrophysics</span></div>
<div style="position:absolute;left:492.95px;top:185.00px" class="cls_006"><span class="cls_006">May 2016</span></div>
<div style="position:absolute;left:59.53px;top:209.38px" class="cls_005"><span class="cls_005">EXPERIENCE</span></div>
<div style="position:absolute;left:59.53px;top:233.50px" class="cls_003"><span class="cls_003">AdviNow Medical</span></div>
<div style="position:absolute;left:471.60px;top:233.50px" class="cls_003"><span class="cls_003">Scottsdale, AZ</span></div>
<div style="position:absolute;left:59.53px;top:245.46px" class="cls_006"><span class="cls_006">Data Scientist</span></div>
<div style="position:absolute;left:426.11px;top:245.46px" class="cls_006"><span class="cls_006">November 2018 (current)</span></div>
<div style="position:absolute;left:60.24px;top:258.71px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Developed an AI medical diagnostic system to be used by patients and doctors in an urgent care setting</span></div>
<div style="position:absolute;left:60.24px;top:269.67px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Utilized data drawn from medical texts and machine learning concepts to enchance robustness and reliability of</span></div>
<div style="position:absolute;left:69.49px;top:280.63px" class="cls_008"><span class="cls_008">diagnoses</span></div>
<div style="position:absolute;left:60.24px;top:291.59px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Worked with medical doctors to develop algorithms which leverage domain knowledge in order to predict symptoms</span></div>
<div style="position:absolute;left:69.49px;top:302.55px" class="cls_008"><span class="cls_008">a patient is presenting among a database of more than 10,000 possible symptoms</span></div>
<div style="position:absolute;left:59.53px;top:315.25px" class="cls_003"><span class="cls_003">Arizona State University</span></div>
<div style="position:absolute;left:486.53px;top:315.25px" class="cls_003"><span class="cls_003">Tempe, AZ</span></div>
<div style="position:absolute;left:59.53px;top:327.21px" class="cls_006"><span class="cls_006">Graduate Research Assistant</span></div>
<div style="position:absolute;left:428.76px;top:327.21px" class="cls_006"><span class="cls_006">May 2015 - August 2018</span></div>
<div style="position:absolute;left:60.24px;top:340.46px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Developed a python software package for forward modeling of terrestrial exoplanets with arbitrary composition. The</span></div>
<div style="position:absolute;left:69.49px;top:351.42px" class="cls_008"><span class="cls_008">package includes a Monte Carlo inversion scheme aimed at constraining the most likely parameters and assessing</span></div>
<div style="position:absolute;left:69.49px;top:362.38px" class="cls_008"><span class="cls_008">model degeneracy.</span></div>
<div style="position:absolute;left:59.53px;top:375.08px" class="cls_003"><span class="cls_003">Arizona State University</span></div>
<div style="position:absolute;left:486.53px;top:375.08px" class="cls_003"><span class="cls_003">Tempe, AZ</span></div>
<div style="position:absolute;left:59.53px;top:387.04px" class="cls_006"><span class="cls_006">Astronomy Lab Instructor</span></div>
<div style="position:absolute;left:442.56px;top:387.04px" class="cls_006"><span class="cls_006">Spring 2018 semester</span></div>
<div style="position:absolute;left:60.24px;top:400.29px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Led two lab sections for AST 114.</span></div>
<div style="position:absolute;left:60.24px;top:411.25px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Coordinated telescope observing and gave weekly lectures on course material.</span></div>
<div style="position:absolute;left:59.53px;top:425.39px" class="cls_003"><span class="cls_003">ASU/NASA Space Grant</span></div>
<div style="position:absolute;left:489.85px;top:425.39px" class="cls_003"><span class="cls_003">Tempe,AZ</span></div>
<div style="position:absolute;left:59.53px;top:437.35px" class="cls_006"><span class="cls_006">Intern</span></div>
<div style="position:absolute;left:428.76px;top:437.35px" class="cls_006"><span class="cls_006">August 2013 - May 2015</span></div>
<div style="position:absolute;left:60.24px;top:450.60px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Translated Fortran routines for numerical models of planets to Java and Python.</span></div>
<div style="position:absolute;left:60.24px;top:461.56px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Participated in monthly open house events to engage the public in research at ASU by lead groups in activities to</span></div>
<div style="position:absolute;left:69.25px;top:472.52px" class="cls_008"><span class="cls_008">visualize and understand concepts in astronomy</span></div>
<div style="position:absolute;left:59.53px;top:485.21px" class="cls_003"><span class="cls_003">Texas A&M University</span></div>
<div style="position:absolute;left:448.46px;top:485.21px" class="cls_003"><span class="cls_003">College Station, TX</span></div>
<div style="position:absolute;left:59.53px;top:497.17px" class="cls_006"><span class="cls_006">Research Assistant</span></div>
<div style="position:absolute;left:475.78px;top:497.17px" class="cls_006"><span class="cls_006">Summer 2014</span></div>
<div style="position:absolute;left:60.24px;top:510.42px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Reduced open cluster photometry with IRAF and DS9 astronomical software.</span></div>
<div style="position:absolute;left:60.24px;top:521.38px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Studied proper motion of globular cluster stars in relation to their empirical mass distribution.</span></div>
<div style="position:absolute;left:59.53px;top:541.02px" class="cls_005"><span class="cls_005">PROJECTS</span></div>
<div style="position:absolute;left:59.53px;top:565.14px" class="cls_003"><span class="cls_003">ExoPlex</span></div>
<div style="position:absolute;left:417.05px;top:565.14px" class="cls_006"><span class="cls_006">May 2015 - December 2018</span></div>
<div style="position:absolute;left:60.24px;top:578.39px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  developed an open-source exoplanet modeling tool written in python</span></div>
<div style="position:absolute;left:60.24px;top:589.34px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  used models to predict the composition of planets with a Bayesian-based approach and Markov chain Monte Carlo</span></div>
<div style="position:absolute;left:69.49px;top:600.30px" class="cls_008"><span class="cls_008">inversion with available data on host star composition and theoretical constraints on planet structures</span></div>
<div style="position:absolute;left:59.53px;top:612.90px" class="cls_003"><span class="cls_003">Red Dwarf Habitability Analysis</span></div>
<div style="position:absolute;left:422.91px;top:612.90px" class="cls_006"><span class="cls_006">January 2017 - May 2017</span></div>
<div style="position:absolute;left:60.24px;top:625.65px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Used a stellar evolution code, TYCHO, to assess the habitability index of terrestrial planets around very small stars.</span></div>
<div style="position:absolute;left:59.53px;top:639.30px" class="cls_003"><span class="cls_003">Galactic Chemical Gradient Study</span></div>
<div style="position:absolute;left:475.78px;top:639.30px" class="cls_006"><span class="cls_006">Summer 2014</span></div>
<div style="position:absolute;left:60.24px;top:652.55px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Reduced photometric data of open clusters using IRAF. Individual stars were found by estimating their sources using</span></div>
<div style="position:absolute;left:69.49px;top:663.51px" class="cls_008"><span class="cls_008">a point spread function approximation about points which vary radially from a central pixel.</span></div>
<div style="position:absolute;left:60.24px;top:674.47px" class="cls_007"><span class="cls_007">○</span><span class="cls_008">  Estimated metallicity of star clusters by fitting their luminosity evolution diagrams to standard evolution curves. We</span></div>
<div style="position:absolute;left:69.49px;top:685.43px" class="cls_008"><span class="cls_008">used this to analyze the galactic metallicity gradient, an attribute of galaxies which is paramount to studying their</span></div>
<div style="position:absolute;left:69.49px;top:696.39px" class="cls_008"><span class="cls_008">age and evolution.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="eef6e1b0-78ce-11e9-9d71-0cc47a792c0a_id_eef6e1b0-78ce-11e9-9d71-0cc47a792c0a_files/background2.jpg" width=595 height=841></div>
<div style="position:absolute;left:59.53px;top:62.87px" class="cls_005"><span class="cls_005">ADDITIONAL/TECHNICAL SKILLS</span></div>
<div style="position:absolute;left:60.24px;top:84.50px" class="cls_007"><span class="cls_007">○</span><span class="cls_003">  Operating systems: Linux, Windows, and MAC OS</span></div>
<div style="position:absolute;left:60.24px;top:96.46px" class="cls_007"><span class="cls_007">○</span><span class="cls_003">  Programming Languages (in order of proficiency):  Python (numpy, scipy, pandas, matplotlib, pymc), R,</span></div>
<div style="position:absolute;left:69.49px;top:108.41px" class="cls_003"><span class="cls_003">SQL, C++ Fortran, Java</span></div>
<div style="position:absolute;left:60.24px;top:120.37px" class="cls_007"><span class="cls_007">○</span><span class="cls_003">  Tools: Git, AWS, Neo4J, Bash, MS Office Suite (Excel,Power point, Word), LaTeX,</span></div>
<div style="position:absolute;left:60.24px;top:132.32px" class="cls_007"><span class="cls_007">○</span><span class="cls_003">  Selected skills: Machine learning, Statistical data analysis (Modern and Classical), Academic & technical</span></div>
<div style="position:absolute;left:69.13px;top:144.28px" class="cls_003"><span class="cls_003">writing</span></div>
<div style="position:absolute;left:60.24px;top:156.23px" class="cls_007"><span class="cls_007">○</span><span class="cls_003">  Languages: English, Spanish</span></div>
</div>

</body>
</html>
